<% if user.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(user.errors.count, 'error') %> prohibited this edit from being saved:</h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- user編集用のform -->
  
<div id='profile-edit'>
  <%= form_for(user) do |f| %>
    <table class='table user-edit-table'>
      <tr><td><%= image_tag profile_url(user)%><%= f.file_field :image %></td></tr> 
      <tr><td><%= f.text_field :name %><span class='glyphicon glyphicon-lock'></span><%= f.check_box :locked, {}, 'true', 'false' %></td></tr>
      <tr><td><%= f.text_area :introduction %></td></tr>
    </table>


    <!--user編集用  -->
    <div class="button">
      <%= f.submit :class => "btn btn-default" %>
    </div>
  <% end %>
</div>