<<<<<<< HEAD
<div class='row'>
  <% users.each do |user| %>
    <div class='col-lg-3'>
	      <%= link_to(user) do %>
	        <%= image_tag profile_url(user) %><br>
	      <% end %>
	      <%= user.name %>
	      <% if current_user.id != user.id %>
		      <% if user.passive_relationships.where(follower_id: current_user.id).blank?%>
		      	<%= link_to 'Follow',user_relationships_path(user),method: :post,class: 'btn btn-default' %>
		      <% else %>
			      <%= link_to 'Following',user_relationships_path(user),method: :delete,class: 'btn btn-primary' %>
			    <% end %>
			  <% end %>
			  <br>
			  <br>
			  <%= user.introduction %>
			  <br>
			  <br>
    </div>
  <% end %>
</div>
=======
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag profile_url(user) %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> level2-right
