<div class='row'>
  <% users.each do |user| %>
    <div class='col-lg-3'>
    		<div class = 'index-icon'>
		      <%= link_to(user) do %>
		        <%= image_tag profile_url(user) %><br>
		      <% end %>
		    </div>
	      <p><%= user.name %>
	      	<% if user.locked %>
	          <span class='glyphicon glyphicon-lock'></span>
	        <% end %>
        </p>
	      <% if current_user.id != user.id %>
	      	<% if user.followed_by?(current_user) %>
	          <%= link_to "Following",user_relationship_path(user.id,Relationship.find_by(follower_id: current_user.id,followed_id: user.id).id),method: :delete,class: "btn btn-primary",remote: true %>
	        <% else %>
	          <% if user.requested_by?(current_user) %>
	            <span class='btn btn-info'>Requesting</span>
	          <% else %>
	            <%= link_to "Follow",user_relationships_path(user.id),method: :post,class: "btn btn-default",remote: true %>
	          <% end %>
	        <% end %>
			  <% end %>
			  <br>
			  <br>
			  <%= user.introduction %>
			  <br>
			  <br>
    </div>
  <% end %>
</div>