<%   now != 'books' ? @boo = 'default': @boo =  'primary'%>
<%   now != 'favorites' ? @fav = 'default': @fav =  'primary'%>
<%   now != 'followings' ? @wing = 'default': @wing =  'primary'%>
<%   now != 'followers' ? @wer = 'default': @wer =  'primary'%>
<%   now != 'requires' ? @ire = 'default': @ire =  'primary'%>

  <!-- modal用 -->
  <div id='icon-modal'><%= image_tag modal_url(user)%></div>

  <!-- normalなinfo -->
  <div id='normal'>
    <table class="table">
      <tr><td><%= image_tag profile_url(user)  ,id: 'show-icon',class: 'icon-image'%></td></tr> 
      <tr><td><%= link_to user do %><strong><%= user.name %></strong>
        <% if user.locked %>
          <span class='glyphicon glyphicon-lock'></span>
        <% end %><% end %>
      </td></tr>
    	<tr><td><%= user.introduction %></td></tr>
    </table>
  </div>

  <%= render 'users/form' , user: user %>

  <br>
  
  <div><%= render 'interests/index' , user: user %></div>