<%   now != 'books' ? @boo = 'default': @boo =  'primary'%>
<%   now != 'favorites' ? @fav = 'default': @fav =  'primary'%>
<%   now != 'followings' ? @wing = 'default': @wing =  'primary'%>
<%   now != 'followers' ? @wer = 'default': @wer =  'primary'%>

    <table class="table">
      <tr><td><%= image_tag profile_url(user) %></td></tr> 
      <tr><td>ユーザー名 : <%= user.name %></td></tr>
      <tr><td>自己紹介</td></tr>
    	<tr><td> <%= user.introduction %></td></tr>
    </table>

    <div class="row">
      <%= link_to "#{user.books.count} 件の投稿",user_path(user),class: "btn btn-#{@boo} col-lg-6" %>

      <%= link_to "#{user.favorites.count} 件のお気に入り",user_favorites_path(user),class: "btn  btn-#{@fav} col-lg-6" %>

      <% if correct_user?(user) %>
        <%= link_to "編集",edit_user_path(user),class: "btn btn-default col-lg-4 glyphicon glyphicon-wrench" %>
      <% else %>
        <% if user.followed_by?(current_user) %>
          <%= link_to "フォロー中",user_relationships_path(user),method: :delete,class: "btn btn-primary col-lg-4",remote: true %>
        <% else %>
          <%= link_to "フォローする",user_relationships_path(user),method: :post,class: "btn btn-default col-lg-4",remote: true %>
        <% end %>
      <% end  %>

      
      <%= link_to "#{user.followings.count} following",follows_user_path(user),class: "btn btn-#{@wing} col-lg-4" %>
      <%= link_to "#{user.followers.count} follower",followers_user_path(user),class: "btn btn-#{@wer} col-lg-4" %>
    </div>