<h1><%= @user.name %>'s page</h1>

<h2>User info</h2>
<table>
  <tr><%= image_tag 'a' %></tr> 
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>self introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</table>

<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'Show', book %></td>
        <% if current_user.id = @user.id %>
	        <td><%= link_to 'Edit', edit_book_path(book) %></td>
	        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>