<p id="notice"><%= notice %></p>

<div class='row'>
  
  <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: current_user%>

    <h2>New book</h2>
    <%= render 'form', book: Book.new %>

  </div>
  

  <div class='col-xs-9 col-sm-9 col-md-9 col-lg-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>
        <td><%= link_to(@book.user) do %>
          <%= image_tag profile_url_thumb(@book.user) %><br>
          <%= @book.user.name %>
          <% end %>
        </td>
        <td><%= link_to @book.title,@book %></td>
        <td><%= @book.body %></td>

        <td>
          <% if Favorite.find_by(user_id: current_user.id,book_id: @book.id).nil? %>
            <%= link_to "", book_favorites_path(@book),method: :post ,class: 'glyphicon glyphicon-heart-empty'%>
          <% else %>
            <%= link_to "", book_favorites_path(@book), method: :delete,class: 'glyphicon glyphicon-heart' %>
          <% end %>
          <%= @book.favorites.count %>
          <% if @book.favorites.count != 0 %>
            <%= link_to 'いいね!',favors_book_path(@book) %>
          <% else %>
            いいね!
          <% end %>
        </td>
        <% if correct_user?(@book.user) %>
          <td><%= link_to 'Edit', edit_book_path(@book) %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' } ,class: 'btn-sm btn-danger'%></td>
        <% end %>
      </tr>
    </table>

    <h3>Comments</h3>
    <table class='table'>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= link_to(comment.user) do %>
          <%= image_tag profile_url_thumb(comment.user) %><br>
          <%= comment.user.name %>
          <% end %>
          </td>
          <td><%= comment.body %></td>

          <% if correct_user?(comment.user) %>
            <td><%= link_to 'Destroy',[@book, comment], method: :delete, data: { confirm: '本当に消しますか？' } ,class: 'btn-sm btn-danger'%></td>

        <% end %>
        </tr>
      <% end %>
		</table>

    <%= form_for([@book,Comment.new]) do |f| %>
      <div class="field row">
        <%= f.text_area :body ,class: 'col-lg-11 col-lg-offset-1'%>
      </div>

      <div class="actions row">
        <%= f.submit class: 'btn btn-primary col-lg-11 col-lg-offset-1'%>
      </div>
    <% end %>

  </div>
</div>