<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <%= render 'layouts/header' %>

  	<div class='body' id='theTarget'>
  		<div style='background-image:url(back1.jpg);'></div>
  		<div style='background-image:url(back3.jpg);'></div>
  		<div style='background-image:url(back4.jpg);'></div>
  		<div style='background-image:url(back5.jpg);'></div>

      <div class='container'>

        <p id="notice"><%= notice %></p>
      	
      	<%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../assets/javascripts/skippr.js"></script>
  </body>
</html>
