<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class='body homeBody'>
      <div id='container'>
        <div id='theTarget'>
          <%= image_tag 'back1.jpg' %>
          <%= image_tag 'back2.jpg' %>
          <%= image_tag 'back3.jpg' %>
          <%= image_tag 'back4.jpg' %>
        </div>
      </div>
      <div class='container'>
        <p id="notice"><%= notice %></p>
        <div class='flame'>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
