<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <%= render 'layouts/header' %>

    <div id='book-new'>
      <%= render 'books/form', book: Book.new ,title: 'New'%>
    </div>

  	<div class='body'>
      
      <% if !@book.blank? %>
        <%= render 'layouts/errors',book:@book %>
      <% end %>
        
      <p id="notice"><%= notice %></p>

      <%= render 'layouts/header-image' , user: @user %>
      
      <div class='main'>
        <div class='container'>
        	<%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
